// fonts
$font-paragraph:16px;
$font-banner-paragraph:18px;


// heading fonts
$h1-font:50px;


// background colors
$b-grd-color-light-gray:#2d3e50;
$b-grd-color-aq:#1bbc9b;
$b-grd-color-darkgray:#1B252F;

// colors
$white:#ffffff;
$black:#000000;

// lines
$base-width:70px;


// border-solids-lines
$linetwo:2px;

// border-icons
$lineone:1px;