*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Bold.ttf");
}

// variables

 // fonts
$font-paragraph:16px;
$font-banner-paragraph:18px;


// heading fonts
$h1-font:50px;


// background colors
$b-grd-color-light-gray:#2d3e50;
$b-grd-color-aq:#1bbc9b;
$b-grd-color-darkgray:#1B252F;

// colors
$white:#ffffff;
$black:#000000;

// lines
$base-width:70px;


// border-solids-lines
$linetwo:2px;

// border-icons
$lineone:1px;


// animation
@keyframes flow {
    from {width: 200px;}
    to {width: 340px;}
  }

  .navigation.scrolled{
    background-color: #1bbc9b;;
    opacity: 100%;
  }
  .navigation.scrolled.nav a{
    color: gold;
  }

@mixin navigation{
    position: sticky;
    top: 0;
    width: 100%;
    transition: background-color 0.7s ease-in-out;
    font-family: Montserrat;
    background-color: $b-grd-color-light-gray;
   
    .container{
        display: flex;
        justify-content:space-between;
        align-items: center;

    }
//     [type="checkbox"]:checked,
// [type="checkbox"]:not(:checked){
//   position: absolute;
//   left: -9999px;
// }
// .menu-icon:checked + label,
// .menu-icon:not(:checked) + label{
//   position: absolute;
//   top: 17px;
//   right: 35px;
  
//   width: 30px;
//   height: 30px;
//   padding: 0;
//   margin: 0;
//   cursor: pointer;
//   z-index: 10;
// }
// .menu-icon:checked + label:before,
// .menu-icon:not(:checked) + label:before{
//   position: absolute;
//   content: '';
//   display: block;
//   width: 30px;
//   height: 20px;
//   z-index: 20;
//   top: 0;
//   left: 0;
//   border-top: 2px solid #ececee;
//   border-bottom: 2px solid #ececee;
//   transition: border-width 100ms 1500ms ease, 
//               top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
//               height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
//               background-color 200ms ease,
//               transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
// }
// .menu-icon:checked + label:after,
// .menu-icon:not(:checked) + label:after{
//   position: absolute;
//   content: '';
//   display: block;
//   width: 22px;
//   height: 2px;
//   z-index: 20;
//   top: 10px;
//   right: 4px;
//   background-color: #ececee;
//   margin-top: -1px;
//   transition: width 100ms 1750ms ease, 
//               right 100ms 1750ms ease,
//               margin-top 100ms ease, 
//               transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
// }
// .menu-icon:checked + label:before{
//   top: 10px;
//   transform: rotate(45deg);
//   height: 2px;
//   background-color: #ececee;
//   border-width: 0;
//   transition: border-width 100ms 340ms ease, 
//               top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
//               height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
//               background-color 200ms 500ms ease,
//               transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
// }
// .menu-icon:checked + label:after{
//   width: 30px;
//   margin-top: 0;
//   right: 0;
//   transform: rotate(-45deg);
//   transition: width 100ms ease,
//               right 100ms ease,  
//               margin-top 100ms 500ms ease, 
//               transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
// }

// .nav{
//   position: absolute;
//   top: 10px;
//   right: 15px;
//   display: none;
//   width: 70px;
//   height: 50px;
//   padding: 0;
//   margin: 0;
//   z-index: 9;
//   overflow: hidden;
//   box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
//   background-color: #353746;
//   animation: border-transform 7s linear infinite;
//   transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
//               right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
//               transform 250ms 1100ms ease,
//               width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
//               height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
// }
// @keyframes border-transform{
//     0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
//   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
//   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
//   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
//   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
//   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
//   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
// }

// .menu-icon:checked ~ .nav {
//   animation-play-state: paused;
//   top: 50%;
//   right: 50%;
//   transform: translate(50%, -50%);
//   width: 200%;
//   height: 200%;
//   transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
//               right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
//               transform 250ms 700ms ease,
//               width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
//               height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
// }

// .nav ul{
//   position: absolute;
//   top: 50%;
//   left: 0;
//   display: block;
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   z-index: 6;
//   text-align: center;
//   transform: translateY(-50%);
//   list-style: none;
// }
// .nav ul li{
//   position: relative;
//   display: block;
//   width: 100%;
//   padding: 0;
//   margin: 10px 0;
//   text-align: center;
//   list-style: none;
//   pointer-events: none;
//   opacity: 0;
//   visibility: hidden;
//   transform: translateY(30px);
//   transition: all 250ms linear;
// }
// .nav ul li:nth-child(1){
//   transition-delay: 200ms;
// }
// .nav ul li:nth-child(2){
//   transition-delay: 150ms;
// }
// .nav ul li:nth-child(3){
//   transition-delay: 100ms;
// }
// .nav ul li:nth-child(4){
//   transition-delay: 50ms;
// }
// .nav ul li a{
//     margin-left: -40px;
//   font-family: 'Montserrat', sans-serif;
//   font-size: 4vh;
//   text-transform: uppercase;
//   font-weight: 800;
//   display: inline-block;
//   position: relative;
//   color: #ececee;
//   transition: all 250ms linear;
// }
// .nav ul li a:hover{
//   text-decoration: none;
//   color: #ffeba7;
// }
// .nav ul li a:after{
//   display: block;
//   position: absolute;
//   top: 50%;
//   content: '';
//   height: 2vh;
//   margin-top: -1vh;
//   width: 0;
//   left: 0;
//   background-color: #353746;
//   opacity: 0.8;
//   transition: width 250ms linear;
// }
// .nav ul li a:hover:after{
//   width: 100%;
// }


// .menu-icon:checked ~ .nav  ul li {
//   pointer-events: auto;
//   visibility: visible;
//   opacity: 1;
//   transform: translateY(0);
//   transition: opacity 350ms ease,
//               transform 250ms ease;
// }
// .menu-icon:checked ~ .nav ul li:nth-child(1){
//   transition-delay: 1400ms;
// }
// .menu-icon:checked ~ .nav ul li:nth-child(2){
//   transition-delay: 1480ms;
// }
// .menu-icon:checked ~ .nav ul li:nth-child(3){
//   transition-delay: 1560ms;
// }
// .menu-icon:checked ~ .nav ul li:nth-child(4){
//   transition-delay: 1640ms;
// }

// .menu-wrap .toggler:checked ~ .menu{
//     visibility: visible;
// }
// .menu-wrap .toggler:checked ~ .menu > div{
//     transform: scale(1);
//     transition-duration: var(--menu-speed);
// }
// .menu-wrap .toggler:checked ~ .menu > div > div{
//     opacity: 1;
//     transition: opacity 0.4s ease;
// }
// .menu-wrap .menu{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//      visibility: hidden; 
//     overflow: hidden;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .menu-wrap .menu > div{
//     background-color: var(--overlay-color);
//     border-radius: 50%;
//     width: 200vw;
//     height: 200vw;
//     display: flex;
//     flex: none;
//     align-items: center;
//     justify-content: center;
//      transform: scale(0); 
//     transition: all 0.4s ease;
// }
// .menu-wrap .menu > div >div{
//     text-align: center;
//     max-width: 90vw;
//     max-height: 100vh;
//      opacity: 0; 
//     transition: opacity 0.4s ease;
// }
// .menu-wrap .menu > div > div > ul > li {
//     list-style: none;
//     color: #fff;
//     font-size: 1.5rem;
//     padding: 1rem;
// }

// .menu-wrap .menu >div > div > ul > li > a{
//     color: inherit;
//     text-decoration: none;
//     transition: color 0.4s ease;
// }



// .logo {
// 	position: absolute;
// 	top: 60px;
// 	left: 50px;
// 	display: block;
// 	z-index: 11;
// 	transition: all 250ms linear;
// }
// .logo img {
// 	height: 26px;
// 	width: auto;
// 	display: block;
// }

input {
    display: none;
  }
  
  .open {
    background-color: #3c3c3c;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
  }
  
  .open:before {
    content: "";
    background-color: #3c3c3c;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .open:after {
    content: "";
    background-color: #3c3c3c;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
  }
  
  .menuOpen:hover .open:before {
    top: -9px;
  }
  
  .menuOpen:hover .open:after {
    top: 5px;
  }
  
  .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
  }
  
  .menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }
  
  .menu .menuContent {
    position: relative;
    top: 50%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  
  .menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    padding: 10px 0;
  }
  
  .menu ul li a:hover {
    color: #ff8702;
  }
  
  .menu ul li:hover {
    background: white;
  }
  
  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }
  


    p{
        font-size: $font-banner-paragraph;
        color: $white;
        font-weight: bolder;
        margin-top: 10px;
    }
 a{
    margin-left: 20px;
    font-size: 12px;
    text-decoration: none;
    color: $white;
 }

}

.navigation{
    @include navigation;
}




@mixin banner{
    font-family: Montserrat;
    background-color:$b-grd-color-aq;
    padding-top: 50px;
    padding-bottom: 34px;

    img{
        width: 100%;
        height: 35vh;
        margin-bottom: 30px;
      
    }
    .head{
        text-align: center;
    }
p{
  
    font-size: $font-paragraph;
    color: $white;
    margin: 12px;
    
}
h1{
    font-size: 50px;
    color: white;
}




.line{
    margin-bottom: 8px;
    width:70px;
    border: $linetwo solid $white;
    
    
 }
 span{
    display: inline-block;
    margin: 5px;
 }

.line2{
    width:70px;
    border: $linetwo solid $white;
    margin-bottom: 8px;
    
 }



}

.banner{
    @include banner;
}



#portfolio2{
    @mixin portfolio{
        font-family: Montserrat;
        padding-top: 67px;
        margin-bottom: 70px;
        h2{
           margin-bottom: 12px; 
           
        }
        .head{
            text-align: center;
        }
    
    .images{
        padding-bottom: 15px;
    }
    
    
        img{
         
            height: 40vh;
        }
        .row{
            padding: 4px;
    
        }
    
        .line{
            width: $base-width;
            border: $linetwo solid $black;
            margin-bottom: 8px;
            
         }
         span{
            display: inline-block;
            margin: 5px;
         }
        
        .line2{
            width: $base-width;
            border:$linetwo solid $black;
            margin-bottom: 8px;
            
         }
         span{
            display: inline-block;
            margin: 5px;
         }
        
    }
    
.portfolio{
    @include portfolio;
}
}


#about2{
    @mixin about{
        font-family: Montserrat;
        padding-top: 67px;
        padding-bottom: 70px;
        background-color: $b-grd-color-aq;
    .star{
        text-align: center;
        color: $white;
    }
    .row{
        margin-left: 150px;
        margin-right: 150px;
        color: $white;
        
    }
    
        .col6{
            padding: 12px;
        }
        .button{
            display: flex;
            justify-content: center;
            align-items: center;
           
           
        }
    a{
        text-decoration: none;
        background-color: "";
        width: 180px;
        text-align: center;
        padding: 10px;
        color: $white;
        
        border:$lineone solid;
       
    }
    
    .line{
        width:$base-width;
        border: $linetwo solid $white;
        margin-bottom: 8px;
        
     }
     span{
        display: inline-block;
        margin: 5px;
     }
    
    .line2{
        margin-bottom: 8px;
        
        width:$base-width;
        border: $linetwo solid $white;
        
        
     }
     span{
        display: inline-block;
        margin: 5px;
     }
         
    }
    
    .about{
        @include about;
    }
    
}





@mixin footer{
    font-family: Montserrat;
   background-color: $b-grd-color-light-gray;
   padding-top: 70px;
   padding-bottom: 40px;
   color: $white;
    .blue{
        color: $b-grd-color-aq;
    }
p{
    text-align: center;
}
h4{
    text-align: center;
}
   
i{
    background-color: "";
    padding: 20px;
    border-radius: 50%;
    border: $lineone solid $white;
    margin: 6px;
   .face{
    border-radius: 50%;
    padding: 3px;
   }
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

}

 .footer{
    @include footer;
 }



#contact2{
    @mixin contact{
        font-family: Montserrat;
        text-align: center;
        padding-top: 43px;
       
        .container{
            margin-left: 150px;
            margin-right: 150px;
            
        }
       
        a{
           text-decoration: none;
           color: $white;
        }
        .send{
          margin-top: 30px;
            padding: 10px; 
            background-color: $b-grd-color-aq;
            width: 80px;
            border-radius: 5px;
            margin-bottom: 50px;
          
        }
        .row{
    margin-left: 100px;
    margin-right: 200px;
        }
    h2{
        margin-bottom: 4px;
       
    }
    
    .line{
        width:$base-width;
        border: $linetwo solid $black;
        
        margin-bottom: 8px;
     }
     span{
        display: inline-block;
        margin: 5px;
     }
    
    .line2{
        width:$base-width;
        border: $linetwo solid $black;
        
        margin-bottom: 8px;
     }
     span{
        display: inline-block;
        margin: 5px;
     }
     .form-control{
        padding: 25px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0px;
     }
    
    
     .message{
       border-top: none;
       border-left: none;
       border-right: none;
        padding: 25px;
     }
     
    .forms{
        padding-top: 12px;
    }
    
    .con{
        margin-right:100px;
    }
    
    
    
         
    }
    
    .contact{
        @include contact;
    }
    
}

// copy
@mixin copy{
    font-family: Montserrat;
    text-align: center;
   p{
    background-color: $b-grd-color-darkgray;
    padding: 30px;
    color: $white;
   }
    
}

.copy{
    @include copy;
}










@media  (max-width: 568px){

    
    .kayke{
    display: none;
   }
   .nav{
    
    margin-left:-160px ;
   }
//     label{
//     display: none;
//    }
   
    h2{
        font-size: 15px;
    }

    .navigation{
        .menuOpen {
            left: 86%;
            position: absolute;
            margin-right: 20;
            /* margin-left: -66px; */
            margin-top: -27px;
            /* background-color: white; */
            width: 24px;
            height: 20px;
            display: block;
            padding: 15px;
            cursor: pointer;
            float: right;
        }
        .open {
            background-color: white;
            width: 24px;
            height: 4px;
            display: block;
            border-radius: 2px;
            cursor: pointer;
            position: relative;
            top: 8px;
        }
        .open:after {
            content: "";
            background-color: white;
            width: 24px;
            height: 4px;
            display: block;
            border-radius: 2px;
            position: relative;
            top: 4px;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .open:before {
            content: "";
            background-color: white;
            width: 24px;
            height: 4px;
            display: block;
            border-radius: 2px;
            position: relative;
            top: -8px;
        }
        .dropdown-menu{
            height: 59vh;
            padding-right: 205px;
        }
        .btn2{
            margin-left: -929px;
            margin-top: -81px;
            position: absolute;
        }
    
    }
  
   
    
    .banner{
        padding-top: 40px;
        padding-bottom: 36px;
        overflow: hidden;
        img{
            height: 25vh;
        }
        h1{
            font-size: 20px;
        }
        .icon{
            font-size: 10px;
        }
        p{
            font-size: 12px;
        }
    }

#portfolio2{

.portfolio{
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    
  
  
    img{
        height: 37vh;
        width: 100%;
        object-fit: cover;
margin-top: 0px;
padding-bottom: 0px;
margin-top: 6px;
    }
   
    .col-md-4{
        margin: 0px;
        padding: 0px;
    }
    .contpics{
        margin-left: 1px;
        padding-top: 16px;
       
       
    }
}
}


#about2{
.about{
    padding-top: 40px;
    padding-bottom: 40px;
  
    .para1{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0px;
        margin-top: 20px;
    }
   .para2{
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    margin-top: 30px;
   }
    .row{
        margin-left: 0px;
        margin-right: 0px;
        color: white;
    }
    .col6{
        padding: 2px;
    }
    a{
        font-size: 12px;
        width: 137px;
        padding: 6px;
    }
    .button{
        padding-top: 10px;
    }
}
}


#contact2{
.contact{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    // overflow: hidden;
   
//     .con{
//     margin-left: -207px;
//    }
 
 .form-control {
   width: 305px; 
   margin-right: px;
   font-size: 10px;
   padding: 5px;
   margin-left: -133px;
   
   
  }
  .container{
    margin-left: 19px;
  }
  

 .message{
    width: 240px;
    padding: 5px;
    font-size: 11px;
    margin-left: -133px;
    width: 305px;
 }

 .send{
   
    margin: 0px;
    margin-top: 3px;
    font-size: 12px; 
    width: 50px;
    padding: 5px;
    margin-left: -130px;
 }
}
}

.footer{
   padding-top: 40px;
   padding-bottom: 40px;

    h4{
        font-size: 13px;
        font-weight: bolder;
    }
    .para3{
        font-size: 12px;
        margin-bottom: 47px;
    }
    .para4{
        margin-bottom: 47px;
    }
    .icons{
        padding-bottom: 41px;
    }
}

.copy{
    font-size: 12px;
.right{
    padding: 18px;
    margin-bottom: -39px;
}
}



}





@media (min-width:577px) and (max-width: 768px){
.navigation{
    .menu{
        display: none;
    }
    .nav{
        display: none;
    }
    label{
        display: none;
    }
    .menu-icon:not(:checked) + label:before{
        display: none;
    }
    .menu-icon:checked + label:after{
        display: none;
    }
    .menu-icon:not(:checked) + label{
        display: none;
    }
}

    h2{
                font-size: 20px;
            }
        
           
            
            .banner{
                padding-top: 40px;
                padding-bottom: 36px;
                overflow: hidden;
                img{
                    height: 25vh;
                }
                h1{
                    font-size: 28px;
                }
                .icon{
                    font-size: 10px;
                }
                p{
                    font-size: 14px;
                }
            }
        
        #portfolio2{
            .portfolio{
            padding-top: 40px;
            padding-bottom: 40px;
            // overflow: hidden;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 0px;
           
.cabin{
 width: 320px;
 height: 30vh;
 object-fit: cover;   
}
.cake{
width: 320px;
height: 30vh;
object-fit: cover;
margin-top: 342px;
margin-left: 117px;    
}
.safe{
width: 320px;
height: 30vh;
object-fit: cover;
margin-left: -224px;

}
.submarine{
 width: 320px;
 height: 30vh;
 object-fit: cover;
 margin-left: -108px;
    
}

.jokes{
    width: 320px;
    height: 30vh;
    object-fit: cover;
margin-top: -381px;
padding-bottom: 0px;
margin-top: 6px;
margin-left: -109px;
}

            .joy{
                width: 320px;
                height: 30vh;
                object-fit: cover;
        margin-top: 0px;
        // padding-bottom: 0px;
        margin-top: -381px;
            }
         
            .g-4{
                margin: 5px;
            }
            .contpics{
        padding-top: 16px;
            }
        }
        }
        
        #about2{
            .about{
            padding-top: 40px;
            padding-bottom: 40px;
            overflow: hidden;
            .para1{
                font-size: 14px;
                padding-left: 50px;
                padding-right: 50px;
                margin: 0px;
            }

            .para2{
                font-size: 14px;
                padding-left: 50px;
                padding-right: 50px;
                margin: 0px;
            }
           
            .row{
                margin-left: 0px;
                margin-right: 0px;
                color: white;
            }
            .col6{
                padding: 2px;
            }
            a{
                font-size: 14px;
                width: 148px;
                padding: 6px;
            }
            .button{
                padding-top: 10px;
            }
        }
        }
        
        #contact2{
            .contact{
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            overflow: hidden;

            // .container{
            //     margin-left: 0px;
            //     margin-right: 0px;
                
            // }
         
         .form-control {
           width: 578px; 
           margin-right: 0px;
           font-size: 12px;
           padding: 5px;
           margin-left: -91px;
          
           
          }
          
          .row{
            margin-left: 0px;
            margin-right: 0px;
                }
         .con{
            margin-right: 0px;
            margin-left: -296px;
         }
         .forms{
            text-align: center;
         }
         .message{
            width: 578px;
            padding: 10px;
            font-size: 13px;
            margin-left: -286px;
         }
        //  .container{
        //     padding: 0px;
        //  }
         .send{
           margin-bottom: 0px;
            margin-top: 3px;
            font-size: 12px; 
            width: 50px;
            padding: 5px;
            margin-left: -79px;
         }
        }
        }
        
        .footer{
           padding-top: 40px;
           padding-bottom:40px;
        
            h4{
                font-size: 16px;
            }
            p{
                font-size: 14px;
                margin-bottom: 0px;
            }
            i{
                padding: 10px;

              
            }
            .icons{
                padding-bottom: 10px;
            }

          
        }
        
        .copy{
            font-size: 14px;
        p{
            padding: 10px;
        }
        }
















}
@media(min-width:769px){
    .navigation{
        .menu{
            display: none;
        }
        .menuOpen{
            display: none;
        }
        .nav{
            display: none;
        }
        label{
            display: none;
        }
        .menu-icon:not(:checked) + label:before{
            display: none;
        }
        .menu-icon:checked + label:after{
            display: none;
        }
        .menu-icon:not(:checked) + label{
            display: none;
        }
    }
}

    @media only screen and (min-width:993px)and(max-width:1024px){
        
.navigation{
    .menu{
        display: none;
    }
    .menuOpen{
        display: none;
    }
        .nav{
            display: none;
        }
        label{
            display: none;
        }
        .menu-icon:not(:checked) + label:before{
            display: none;
        }
        .menu-icon:checked + label:after{
            display: none;
        }
        .menu-icon:not(:checked) + label{
            display: none;
        }
    }

        h2{
            font-size: 20px;
        }
    
       
        
        .banner{
            padding-top: 40px;
            padding-bottom: 36px;
            overflow: hidden;
            img{
                height: 25vh;
            }
            h1{
                font-size: 28px;
            }
            .icon{
                font-size: 10px;
            }
            p{
                font-size: 14px;
            }
        }
    #portfolio2{
    .portfolio{
        padding-top: 40px;
        padding-bottom: 40px;
        // overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
       
.cabin{
width: 298px;
height: 25vh;
object-fit: cover;
margin-left: -20px;

}
.cake{
width: 298px;
height: 25vh;
object-fit: cover;
margin-left: 386px;
margin-left: 312px;

}
.safe{
width: 298px;
height: 25vh;
object-fit: cover;
margin-left: -5px;
// display: none;
}
.submarine{
width: 298px;
height: 25vh;
object-fit: cover;
margin-left: 7px;
// display: none;
}

.jokes{
width: 298px;
height: 25vh;
object-fit: cover;
// margin-top: -381px;
margin-bottom: -106px;
padding-bottom: 0px;
margin-top: 0px;
margin-left: -312px;
}

        .joy{
            width: 289px;
            height: 25vh;
            object-fit: cover;
    margin-top: 0px;
    // padding-bottom: 0px;
    margin-top: -4px;
    margin-left: -17px;
        }
     
        .g-4{
            margin: 5px;
        }
        .contpics{
    padding-top: 16px;
        }
    }
}
    #about2{
    .about{
        padding-top: 40px;
        padding-bottom: 40px;
        overflow: hidden;
        .para1{
            font-size: 14px;
            padding-left: 50px;
            padding-right: 50px;
            margin: 0px;
        }

        .para2{
            font-size: 14px;
            padding-left: 50px;
            padding-right: 50px;
            margin: 0px;
        }
       
        .row{
            margin-left: 0px;
            margin-right: 0px;
            color: white;
        }
        .col6{
            padding: 2px;
        }
        a{
            font-size: 14px;
            width: 148px;
            padding: 6px;
        }
        .button{
            padding-top: 10px;
        }
    }
}
    #contact2{
    .contact{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;

        // .container{
        //     margin-left: 0px;
        //     margin-right: 0px;
            
        // }
     
     .form-control {
       width: 578px; 
       margin-right: 0px;
       font-size: 12px;
       padding: 5px;
       margin-left: -7px;
      
       
      }
      
      .row{
        margin-left: 0px;
        margin-right: 0px;
            }
     .con{
        margin-right: 0px;
        margin-left: -296px;
     }
     .forms{
        text-align: center;
     }
     .message{
        width: 578px;
        padding: 10px;
        font-size: 13px;
        margin-left: -358px;
     }
    //  .container{
    //     padding: 0px;
    //  }
     .send{
        margin-bottom: 0px;
        margin-top: 3px;
        font-size: 12px;
        width: 50px;
        padding: 5px;
        margin-left: -12px;
     }
    }
}
    
    .footer{
       padding-top: 40px;
       padding-bottom:40px;
    
        h4{
            font-size: 16px;
        }
        p{
            font-size: 14px;
            margin-bottom: 0px;
        }
        i{
            padding: 10px;
        }
        .icons{
            padding-bottom: 10px;
        }

      
    }
    
    .copy{
        font-size: 14px;
    p{
        padding: 10px;
    }
    }






    }

    @media only screen and (min-width:1399.98px){
.navigation{
    .menu{
        display: none;
    }
    .menuOpen{
        display: none;
    }
}
        #contact2 .contact .container {
            margin-left: 108px;
            margin-right: 150px;

            .message {
                width: 100%;
                border-top: none;
                border-left: none;
                border-right: none;
                padding: 25px;
            }
        }
       
    }