* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Montserrat;
  src: url("Montserrat-Bold.ttf");
}

@-webkit-keyframes flow {
  from {
    width: 200px;
  }
  to {
    width: 340px;
  }
}

@keyframes flow {
  from {
    width: 200px;
  }
  to {
    width: 340px;
  }
}

.navigation.scrolled {
  background-color: #1bbc9b;
  opacity: 100%;
}

.navigation.scrolled.nav a {
  color: gold;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  -webkit-transition: background-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
  font-family: Montserrat;
  background-color: #2d3e50;
}

.navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation input {
  display: none;
}

.navigation .open {
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.navigation .open:before {
  content: "";
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation .open:after {
  content: "";
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation .menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
  float: right;
}

.navigation .menuOpen:hover .open:before {
  top: -9px;
}

.navigation .menuOpen:hover .open:after {
  top: 5px;
}

.navigation .menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
}

.navigation .menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.navigation .menu .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.navigation .menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.navigation .menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-family: Trebuchet MS;
  text-transform: uppercase;
  padding: 10px 0;
}

.navigation .menu ul li a:hover {
  color: #ff8702;
}

.navigation .menu ul li:hover {
  background: white;
}

.navigation .menuEffects {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

.navigation .menuEffects ul {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation #menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.navigation #menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

.navigation #menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

.navigation #menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.navigation #menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

.navigation #menuToggle:not(:checked) ~ .menuEffects ul {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.navigation p {
  font-size: 18px;
  color: #ffffff;
  font-weight: bolder;
  margin-top: 10px;
}

.navigation a {
  margin-left: 20px;
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
}

.banner {
  font-family: Montserrat;
  background-color: #1bbc9b;
  padding-top: 50px;
  padding-bottom: 34px;
}

.banner img {
  width: 100%;
  height: 35vh;
  margin-bottom: 30px;
}

.banner .head {
  text-align: center;
}

.banner p {
  font-size: 16px;
  color: #ffffff;
  margin: 12px;
}

.banner h1 {
  font-size: 50px;
  color: white;
}

.banner .line {
  margin-bottom: 8px;
  width: 70px;
  border: 2px solid #ffffff;
}

.banner span {
  display: inline-block;
  margin: 5px;
}

.banner .line2 {
  width: 70px;
  border: 2px solid #ffffff;
  margin-bottom: 8px;
}

#portfolio2 .portfolio {
  font-family: Montserrat;
  padding-top: 67px;
  margin-bottom: 70px;
}

#portfolio2 .portfolio h2 {
  margin-bottom: 12px;
}

#portfolio2 .portfolio .head {
  text-align: center;
}

#portfolio2 .portfolio .images {
  padding-bottom: 15px;
}

#portfolio2 .portfolio img {
  height: 40vh;
}

#portfolio2 .portfolio .row {
  padding: 4px;
}

#portfolio2 .portfolio .line {
  width: 70px;
  border: 2px solid #000000;
  margin-bottom: 8px;
}

#portfolio2 .portfolio span {
  display: inline-block;
  margin: 5px;
}

#portfolio2 .portfolio .line2 {
  width: 70px;
  border: 2px solid #000000;
  margin-bottom: 8px;
}

#portfolio2 .portfolio span {
  display: inline-block;
  margin: 5px;
}

#about2 .about {
  font-family: Montserrat;
  padding-top: 67px;
  padding-bottom: 70px;
  background-color: #1bbc9b;
}

#about2 .about .star {
  text-align: center;
  color: #ffffff;
}

#about2 .about .row {
  margin-left: 150px;
  margin-right: 150px;
  color: #ffffff;
}

#about2 .about .col6 {
  padding: 12px;
}

#about2 .about .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about2 .about a {
  text-decoration: none;
  background-color: "";
  width: 180px;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  border: 1px solid;
}

#about2 .about .line {
  width: 70px;
  border: 2px solid #ffffff;
  margin-bottom: 8px;
}

#about2 .about span {
  display: inline-block;
  margin: 5px;
}

#about2 .about .line2 {
  margin-bottom: 8px;
  width: 70px;
  border: 2px solid #ffffff;
}

#about2 .about span {
  display: inline-block;
  margin: 5px;
}

.footer {
  font-family: Montserrat;
  background-color: #2d3e50;
  padding-top: 70px;
  padding-bottom: 40px;
  color: #ffffff;
}

.footer .blue {
  color: #1bbc9b;
}

.footer p {
  text-align: center;
}

.footer h4 {
  text-align: center;
}

.footer i {
  background-color: "";
  padding: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin: 6px;
}

.footer i .face {
  border-radius: 50%;
  padding: 3px;
}

.footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact2 .contact {
  font-family: Montserrat;
  text-align: center;
  padding-top: 43px;
}

#contact2 .contact .container {
  margin-left: 150px;
  margin-right: 150px;
}

#contact2 .contact a {
  text-decoration: none;
  color: #ffffff;
}

#contact2 .contact .send {
  margin-top: 30px;
  padding: 10px;
  background-color: #1bbc9b;
  width: 80px;
  border-radius: 5px;
  margin-bottom: 50px;
}

#contact2 .contact .row {
  margin-left: 100px;
  margin-right: 200px;
}

#contact2 .contact h2 {
  margin-bottom: 4px;
}

#contact2 .contact .line {
  width: 70px;
  border: 2px solid #000000;
  margin-bottom: 8px;
}

#contact2 .contact span {
  display: inline-block;
  margin: 5px;
}

#contact2 .contact .line2 {
  width: 70px;
  border: 2px solid #000000;
  margin-bottom: 8px;
}

#contact2 .contact span {
  display: inline-block;
  margin: 5px;
}

#contact2 .contact .form-control {
  padding: 25px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

#contact2 .contact .message {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 25px;
}

#contact2 .contact .forms {
  padding-top: 12px;
}

#contact2 .contact .con {
  margin-right: 100px;
}

.copy {
  font-family: Montserrat;
  text-align: center;
}

.copy p {
  background-color: #1B252F;
  padding: 30px;
  color: #ffffff;
}

@media (max-width: 568px) {
  .kayke {
    display: none;
  }
  .nav {
    margin-left: -160px;
  }
  h2 {
    font-size: 15px;
  }
  .navigation .menuOpen {
    left: 86%;
    position: absolute;
    margin-right: 20;
    /* margin-left: -66px; */
    margin-top: -27px;
    /* background-color: white; */
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
  }
  .navigation .open {
    background-color: white;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
  }
  .navigation .open:after {
    content: "";
    background-color: white;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navigation .open:before {
    content: "";
    background-color: white;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
  }
  .navigation .dropdown-menu {
    height: 59vh;
    padding-right: 205px;
  }
  .navigation .btn2 {
    margin-left: -929px;
    margin-top: -81px;
    position: absolute;
  }
  .banner {
    padding-top: 40px;
    padding-bottom: 36px;
    overflow: hidden;
  }
  .banner img {
    height: 25vh;
  }
  .banner h1 {
    font-size: 20px;
  }
  .banner .icon {
    font-size: 10px;
  }
  .banner p {
    font-size: 12px;
  }
  #portfolio2 .portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
  }
  #portfolio2 .portfolio img {
    height: 37vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-top: 6px;
  }
  #portfolio2 .portfolio .col-md-4 {
    margin: 0px;
    padding: 0px;
  }
  #portfolio2 .portfolio .contpics {
    margin-left: 1px;
    padding-top: 16px;
  }
  #about2 .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #about2 .about .para1 {
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    margin-top: 20px;
  }
  #about2 .about .para2 {
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    margin-top: 30px;
  }
  #about2 .about .row {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
  }
  #about2 .about .col6 {
    padding: 2px;
  }
  #about2 .about a {
    font-size: 12px;
    width: 137px;
    padding: 6px;
  }
  #about2 .about .button {
    padding-top: 10px;
  }
  #contact2 .contact {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #contact2 .contact .form-control {
    width: 305px;
    margin-right: px;
    font-size: 10px;
    padding: 5px;
    margin-left: -133px;
  }
  #contact2 .contact .container {
    margin-left: 19px;
  }
  #contact2 .contact .message {
    width: 240px;
    padding: 5px;
    font-size: 11px;
    margin-left: -133px;
    width: 305px;
  }
  #contact2 .contact .send {
    margin: 0px;
    margin-top: 3px;
    font-size: 12px;
    width: 50px;
    padding: 5px;
    margin-left: -130px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer h4 {
    font-size: 13px;
    font-weight: bolder;
  }
  .footer .para3 {
    font-size: 12px;
    margin-bottom: 47px;
  }
  .footer .para4 {
    margin-bottom: 47px;
  }
  .footer .icons {
    padding-bottom: 41px;
  }
  .copy {
    font-size: 12px;
  }
  .copy .right {
    padding: 18px;
    margin-bottom: -39px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .navigation .menu {
    display: none;
  }
  .navigation .nav {
    display: none;
  }
  .navigation label {
    display: none;
  }
  .navigation .menu-icon:not(:checked) + label:before {
    display: none;
  }
  .navigation .menu-icon:checked + label:after {
    display: none;
  }
  .navigation .menu-icon:not(:checked) + label {
    display: none;
  }
  h2 {
    font-size: 20px;
  }
  .banner {
    padding-top: 40px;
    padding-bottom: 36px;
    overflow: hidden;
  }
  .banner img {
    height: 25vh;
  }
  .banner h1 {
    font-size: 28px;
  }
  .banner .icon {
    font-size: 10px;
  }
  .banner p {
    font-size: 14px;
  }
  #portfolio2 .portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
  }
  #portfolio2 .portfolio .cabin {
    width: 320px;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #portfolio2 .portfolio .cake {
    width: 320px;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 342px;
    margin-left: 117px;
  }
  #portfolio2 .portfolio .safe {
    width: 320px;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: -224px;
  }
  #portfolio2 .portfolio .submarine {
    width: 320px;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: -108px;
  }
  #portfolio2 .portfolio .jokes {
    width: 320px;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: -381px;
    padding-bottom: 0px;
    margin-top: 6px;
    margin-left: -109px;
  }
  #portfolio2 .portfolio .joy {
    width: 320px;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    margin-top: -381px;
  }
  #portfolio2 .portfolio .g-4 {
    margin: 5px;
  }
  #portfolio2 .portfolio .contpics {
    padding-top: 16px;
  }
  #about2 .about {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
  }
  #about2 .about .para1 {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
  }
  #about2 .about .para2 {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
  }
  #about2 .about .row {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
  }
  #about2 .about .col6 {
    padding: 2px;
  }
  #about2 .about a {
    font-size: 14px;
    width: 148px;
    padding: 6px;
  }
  #about2 .about .button {
    padding-top: 10px;
  }
  #contact2 .contact {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  #contact2 .contact .form-control {
    width: 578px;
    margin-right: 0px;
    font-size: 12px;
    padding: 5px;
    margin-left: -91px;
  }
  #contact2 .contact .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact2 .contact .con {
    margin-right: 0px;
    margin-left: -296px;
  }
  #contact2 .contact .forms {
    text-align: center;
  }
  #contact2 .contact .message {
    width: 578px;
    padding: 10px;
    font-size: 13px;
    margin-left: -286px;
  }
  #contact2 .contact .send {
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 12px;
    width: 50px;
    padding: 5px;
    margin-left: -79px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer h4 {
    font-size: 16px;
  }
  .footer p {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .footer i {
    padding: 10px;
  }
  .footer .icons {
    padding-bottom: 10px;
  }
  .copy {
    font-size: 14px;
  }
  .copy p {
    padding: 10px;
  }
}

@media (min-width: 769px) {
  .navigation .menu {
    display: none;
  }
  .navigation .menuOpen {
    display: none;
  }
  .navigation .nav {
    display: none;
  }
  .navigation label {
    display: none;
  }
  .navigation .menu-icon:not(:checked) + label:before {
    display: none;
  }
  .navigation .menu-icon:checked + label:after {
    display: none;
  }
  .navigation .menu-icon:not(:checked) + label {
    display: none;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .navigation .menu {
    display: none;
  }
  .navigation .menuOpen {
    display: none;
  }
  .navigation .nav {
    display: none;
  }
  .navigation label {
    display: none;
  }
  .navigation .menu-icon:not(:checked) + label:before {
    display: none;
  }
  .navigation .menu-icon:checked + label:after {
    display: none;
  }
  .navigation .menu-icon:not(:checked) + label {
    display: none;
  }
  h2 {
    font-size: 20px;
  }
  .banner {
    padding-top: 40px;
    padding-bottom: 36px;
    overflow: hidden;
  }
  .banner img {
    height: 25vh;
  }
  .banner h1 {
    font-size: 28px;
  }
  .banner .icon {
    font-size: 10px;
  }
  .banner p {
    font-size: 14px;
  }
  #portfolio2 .portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
  }
  #portfolio2 .portfolio .cabin {
    width: 298px;
    height: 25vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: -20px;
  }
  #portfolio2 .portfolio .cake {
    width: 298px;
    height: 25vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 386px;
    margin-left: 312px;
  }
  #portfolio2 .portfolio .safe {
    width: 298px;
    height: 25vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: -5px;
  }
  #portfolio2 .portfolio .submarine {
    width: 298px;
    height: 25vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 7px;
  }
  #portfolio2 .portfolio .jokes {
    width: 298px;
    height: 25vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: -106px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: -312px;
  }
  #portfolio2 .portfolio .joy {
    width: 289px;
    height: 25vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    margin-top: -4px;
    margin-left: -17px;
  }
  #portfolio2 .portfolio .g-4 {
    margin: 5px;
  }
  #portfolio2 .portfolio .contpics {
    padding-top: 16px;
  }
  #about2 .about {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
  }
  #about2 .about .para1 {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
  }
  #about2 .about .para2 {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
  }
  #about2 .about .row {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
  }
  #about2 .about .col6 {
    padding: 2px;
  }
  #about2 .about a {
    font-size: 14px;
    width: 148px;
    padding: 6px;
  }
  #about2 .about .button {
    padding-top: 10px;
  }
  #contact2 .contact {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  #contact2 .contact .form-control {
    width: 578px;
    margin-right: 0px;
    font-size: 12px;
    padding: 5px;
    margin-left: -7px;
  }
  #contact2 .contact .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact2 .contact .con {
    margin-right: 0px;
    margin-left: -296px;
  }
  #contact2 .contact .forms {
    text-align: center;
  }
  #contact2 .contact .message {
    width: 578px;
    padding: 10px;
    font-size: 13px;
    margin-left: -358px;
  }
  #contact2 .contact .send {
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 12px;
    width: 50px;
    padding: 5px;
    margin-left: -12px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer h4 {
    font-size: 16px;
  }
  .footer p {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .footer i {
    padding: 10px;
  }
  .footer .icons {
    padding-bottom: 10px;
  }
  .copy {
    font-size: 14px;
  }
  .copy p {
    padding: 10px;
  }
}

@media only screen and (min-width: 1399.98px) {
  .navigation .menu {
    display: none;
  }
  .navigation .menuOpen {
    display: none;
  }
  #contact2 .contact .container {
    margin-left: 108px;
    margin-right: 150px;
  }
  #contact2 .contact .container .message {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 25px;
  }
}
/*# sourceMappingURL=index.css.map */